.question-category-header {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    border-bottom: 1px solid #888;
    max-width: 70%;
}

.question-category-commands {
    background-color: #f4f4f4;
    border-radius: 15px 0 0 15px;
    min-width: 20%;
    padding-left: .5rem;
}

.question-category.level-1 .question-category-header {
    background-color: #d0d0d0;
}

.question-category.level-1 .question-category-item {
    font-size: 110%;
}

.question-category.level-2 .question-category-header {
    background-color: #d8d8d8;
}

.question-category.level-2 .question-category-item {
    font-size: 108%;
}

.question-category.level-3 .question-category-header {
    background-color: #e0e0e0;
}

.question-category.level-3 .question-category-item {
    font-size: 106%;
}

.question-category.level-4 .question-category-header {
    background-color: #e8e8e8;
}

.question-category.level-4 .question-category-item {
    font-size: 104%;
}

.question-category.level-5 .question-category-header {
    background-color: #f0f0f0;
}

.question-category.level-5 .question-category-item {
    font-size: 102%;
}

.question-category .question-category-handle[aria-expanded="false"]::before {
    content: " \f078 ";
    font-family: "FontAwesome";
}

.question-category .question-category-handle[aria-expanded="true"]::before {
    content: " \f077 ";
    font-family: "FontAwesome";
}
