


<!-- blocks_quiz_behaviour/category_filters -->
<div class="back-category-filters">
    <a class="quiz-behaviour-ctls" id="quiz-behaviour-cats-collapseall">{{#str}}collapseall, block_quiz_behaviour{{/str}}</a>
    <a class="quiz-behaviour-ctls" id="quiz-behaviour-cats-expandall">{{#str}}expandall, block_quiz_behaviour{{/str}}</a>
    <a class="quiz-behaviour-ctls" id="quiz-behaviour-cats-toggleempty">{{#str}}showempty, block_quiz_behaviour{{/str}}</a>
</div>
<!-- /blocks_quiz_behaviour/category_filters -->